@import "tailwindcss";

:root {
  font-family: Helvetica, Arial, sans-serif;
  color: #45556c;
  text-align: center;
  background-color: rgb(249, 249, 249)
}

@layer components {
  .gradient-text {
    background: linear-gradient(90deg, #00a63e 0%, #009689 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-background {
    background: linear-gradient(90deg, #00a63e 0%, #009689 100%);
  }

  .hover-shadow {
    @apply transition ease-in-out hover:shadow-md
  }  

  .hover-shadow-lg {
    @apply transition ease-in-out hover:shadow-lg
  }  
}
